@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
     /* border: red solid 1px; */
}

div {
    scrollbar-gutter: stable;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;

    --primary: theme('colors.primary');
    --secondary: theme('colors.secondary');
    --accent: theme('colors.accent');

    --success: theme('colors.success');
    --error: theme('colors.error');

    --text-primary: theme('colors.txt-primary');
    --text-secondary: theme('colors.txt-secondary');

    color: var(--text-primary);
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* select all number input */
input[type=number],
input[type=text] {
    @apply text-txt-primary transition-all duration-300 ease-in-out hover:brightness-125 font-semibold text-[1.6vh] border border-secondary/50 bg-primary/50 text-center;
}

input::selection {
    background: #86c00080;
}

.btn-base {
    @apply transition-all duration-300 ease-in-out hover:brightness-125;
}

button.btn,
.btn {
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
}

button:disabled,
.btn:disabled {
    background: radial-gradient(circle, rgba(133, 58, 59, 0.089) 0%, rgba(105,46,47, 0.177) 100%) !important;
    border-style: solid;
    border-width: 0.15rem;
    border-color: rgb(137, 60, 61);
}

::-webkit-scrollbar {
    width: 0.35rem;
    border-radius: 2.23rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2.33rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #518f00b4;
    border-radius: 2.23rem;
}

.parent-container {
    position: relative;
    /* Ensure the parent container is positioned */
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-solid {
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
}